*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #72b3d3;
}

.wrapper
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
}

.wrapper h1
{
    color: #FFEED9;
    font-size: 4rem;
}

.wrapper p
{
    color: #FFEED9;
}


.cards, .cardDiv, .view
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardDiv
{
    height: 65%;
    width: 50%;
    border-radius: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
}

.cards 
{
    height: calc(100% / 4 - 0.5rem);
    width: calc(100% / 4 - 0.5rem);
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}

.cards.shake
{
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%,100%
    {
        transform: translateX(0);
    }
    20%
    {
        transform: translateX(-13px);
    }
    40%
    {
        transform: translateX(13px);
    }
    60%
    {
        transform: translateX(-8px);
    }
    80%
    {
        transform: translateX(8px);
    }
}

.cards .view
{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    transition: transform 0.25s linear;
    backface-visibility: hidden;
    background: rgba(255, 255, 255, 0.211);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.149);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* .cards .front-view
{

} */
.cards .back-view
{
    transform: rotateY(-180deg);
}

.cards .back-view img 
{
    max-width: 5rem;
    height: 100%;
    width: 100%;
    object-fit:contain;
}


.mark
{
    background-color: transparent;
    font-size: 3rem;
    color: #FFEED9;
}

.cards.flip .front-view
{
    transform: rotateY(180deg);
}

.cards.flip .back-view
{
    transform: rotateY(0);
}